<!DOCTYPE html>
<html th:fragment="layout (title,choice)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="${title}">Layout Title</title>
    <link href="/layui/css/layui.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-1.12.4.js"></script>
    <script src="/js/vue.min.js"></script>
<!--    <script src="/js/common.js"></script>&lt;!&ndash;    备忘录代码&ndash;&gt;-->
    <link rel="stylesheet" href="/css/note.css">
    <style>
        body{padding: 15px; overflow-y: scroll;
        }
        .flow-default{ font-size: 0;}
        .flow-default li{display: inline-block; margin-right: 10px; font-size: 14px; width: 48%;  margin-bottom: 10px; height: 200px; line-height: 200px; text-align: center; background-color: #eee;}
        .flow-default img{width: 100%; height: 100%;}
        .zhzt{
            background-color: #009688;
        }
        .zhzt:hover{
            background-color: #5FB878;
        }
    </style>
</head>
<body>
    <div class="layui-fluid" style="padding-top: 15px;">
        <div>
            <blockquote class="layui-elem-quote" style="color: #666;">
                 点餐管理系统
            </blockquote>
        </div>
        <div class="layui-row layui-col-space30" id="demo-box" style="padding: 30px 0;">
            <div class="layui-col-md2"><!--中等屏幕占3列-->
                <div class="layui-panel">
                    <ul class="layui-menu" id="demo1">
                        <li id="fhsy">
                            <div class="layui-menu-body-title">返回首页</a></div>
                        </li>
                        <li id="xlph">
                            <div class="layui-menu-body-title">销量排行</a></div>
                        </li>
                        <li id="ckdd">
                            <div class="layui-menu-body-title">查看订单</a></div>
                        </li>
                        <li id="ckcd">
                            <div class="layui-menu-body-title">查看菜单</a></div>
                        </li>
                        <li id="tjxc">
                            <div class="layui-menu-body-title">添加新菜</a></div>
                        </li>
                        <li id="ckyy">
                            <div class="layui-menu-body-title">查看预约</a></div>
                        </li>
                        <li id="clyy">
                            <div class="layui-menu-body-title">处理预约</a></div>
                        </li>
                        <li id="zhgl">
                            <div class="layui-menu-body-title">账号管理</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layui-col-md8 layui-col-md-offset1">
                 <div th:replace="${choice}">
                 </div>
            </div>
        </div>

    </div>
</body>
<script src="/layui/layui.js"></script>

<!--<script>-->
<!--    var imgURL="";-->
<!--    $("#targetFile").change(-->
<!--        function(){-->
<!--            alert("激发");-->
<!--            if (this.files && this.files[0]) {-->
<!--                var file=this.files[0];-->
<!--                if (window.createObjectURL!=undefined) { // basic-->
<!--                    imgURL = window.createObjectURL(file) ;-->
<!--                }else if (window.webkitURL!=undefined) { // webkit or chrome-->
<!--                    imgURL = window.webkitURL.createObjectURL(file) ;-->
<!--                }else if (window.URL!=undefined) { // mozilla(firefox)-->
<!--                    imgURL = window.URL.createObjectURL(file) ;-->
<!--                }-->
<!--            }-->
<!--            alert("vv:"+$(this).val());-->
<!--            alert("地址为"+imgURL);-->
<!--            console.log(imgURL);-->
<!--            $(this).val(imgURL);-->
<!--            alert("voo:"+$(this).val());-->
<!--        });-->
<!--</script>-->


<script>

    $("#fhsy").click(function (){
        window.location.href="index";
    })
    $("#xlph").click(function (){
        window.location.href="showDishBill";
    })
    $("#ckdd").click(function (){
        window.location.href="showMer_Order";
    })
    $("#ckcd").click(function (){
        window.location.href="showdish";
    })
    $("#tjxc").click(function (){
        window.location.href="insertdish";
    })
    $("#ckyy").click(function (){
        window.location.href="showMbook";
    })
    $("#clyy").click(function (){
        window.location.href="showDMbook";
    })
    $("#zhgl").click(function (){
        window.location.href="toManager";
    })


    /**
     * 插入新菜表单提交前处理
     */
    $("#insert_dish_submit").click(function(){
        s1=$("#dishname").val();
        s2=$("#dishflavor").val();
        var encodedNameValue = encodeURIComponent(s1);
        var encodedFlavorValue=encodeURIComponent(s2);
        $("#dishname").val(encodedNameValue);
        $("#dishflavor").val(encodedFlavorValue);
      console.log(s1+"______"+s2)
    })

    layui.use(['dropdown', 'util'], function(){
        var dropdown = layui.dropdown
            ,util = layui.util
            ,$ = layui.jquery;
        dropdown.on('click(demo1)', function(options){
            var thisElem = $(this);
            console.log(thisElem, options);
        });

        util.event('lay-active', {
            normal: function(){
                $('#demo-box').children().addClass('layui-col-md3').removeClass('layui-col-md4');
                $('#demo-box').find('.layui-menu').removeClass('layui-menu-lg');
            }
            ,lg: function(){
                $('#demo-box').children().addClass('layui-col-md4').removeClass('layui-col-md3')
                $('#demo-box').find('.layui-menu').addClass('layui-menu-lg');
            }
        });
    });

</script>
<!--备忘录代码开始-->
<script>
    /**
     * 功能：备忘录公共功能设置
     *
     **/
    /****************************************************/
    /* 全局变量定义部分 */
    /****************************************************/
    var GLOBAL = {
        // 是否处于编辑状态
        editing: false,
        // 编辑列表索引值
        itemIndex: NaN
    }

    /****************************************************/
    /* 页面加载完成后执行部分 */
    /****************************************************/
    $(function () {
        // 点击按钮进入新增备忘页面和返回主页面
        addMemoire();
        // 编辑删除、取消删除列表事件
        editCtrl();
        // 单个列表项删除标记事件
        markListItem();
        // // 删除选中列表项事件
        removeMarkListItem();
        //根据是否输入内容设置保存按钮的状态
        setSaveBtnStatus();
        // 点击保存按钮将输入的内容保存到本地存储和生成视觉元素
        saveMemoireData();
        // 面载入时根据本地存储的内容重新生成列表
        loadMemoireList();
        // 根据页面是否有数据决定是否启用编辑删除按钮和设置页脚
        setEditBtnStatus();
        // 点击列表进入编辑页
        toMemoireEditPage();
        // 激活文本编辑域
        activeEditor();
    });

    /****************************************************/
    /* 功能及事件函数定义部分 */
    /****************************************************/
    /**
     * 获取当前时间格式
     */
    function  getNowTime(){
        // 获取现在的时间
        let date = new Date(),
            year = date.getFullYear(),
            month = date.getMonth() + 1,
            day = date.getDate(),
            hour = date.getHours(),
            minutes = date.getMinutes();
        // 处理日期时间的位数
        month = String(month).length === 1? "0" + month : month;
        day = String(day).length === 1? "0" + day : day;
        hour = String(hour).length === 1? "0" + hour : hour;
        minutes = String(minutes).length === 1? "0" + minutes : minutes;
        // 拼接日期时间字符串
        let nowDate = `${year}-${month}-${day} ${hour}:${minutes}`;
        return nowDate;
    }

    /**
     * 持久化对象 新增
     */
    function sendTODataBase(noteItem,savedate) {
        console.log(typeof(noteItem));
        $.ajax({
            url: "/insertNote", // 后台处理请求的地址
            method: "POST", // 使用 POST 方法
            data: { content: noteItem+"", savedate: savedate+"" } // 包含两个参数的数据对象
        }).done(function( msg ) {
            console.log( "Response from server: " + msg );
        }).fail(function( xhr, textStatus, errorThrown ) {
            console.log( "Error: " + errorThrown );
        });
    }
    /**
     * 删除
     */
    function deleteNote(noteID) {
        alert(noteID+"激发")
        $.ajax({
            url: "/deleteNote", // 后台处理请求的地址
            method: "POST", // 使用 POST 方法
            data: {noteID:noteID} // 包含两个参数的数据对象
        }).done(function( msg ) {
            console.log( "Response from server: " + msg );
        }).fail(function( xhr, textStatus, errorThrown ) {
            console.log( "Error: " + errorThrown );
        });
    }
    /**
     * 持久化对象 查找
     */
    function getNotesByAuthor(){
        $.ajax({
            url: "/getNotes", // 后台处理请求的地址
            method: "POST", // 使用 POST 方法
            data: {}
        }).done(function( msg ) {
            console.log( "返回数据为: " + JSON.stringify(msg) );
        }).fail(function( xhr, textStatus, errorThrown ) {
            console.log( "Error: " + errorThrown );
        });
    }
    /**
     * 持久化对象 更新
     */
    function updateTODataBase(content,savedate,noteID) {
        alert("编辑结果保存！")
        $.ajax({
            url: "/updateNote", // 后台处理请求的地址
            method: "POST", // 使用 POST 方法
            data: { content: content+"", savedate: savedate+"" ,noteID:noteID} // 包含两个参数的数据对象
        }).done(function( msg ) {
            console.log( "Response from server: " + msg );
        }).fail(function( xhr, textStatus, errorThrown ) {
            console.log( "Error: " + errorThrown );
        });
    }

    /**
     * 功能： 点击按钮进入新增备忘页面和返回主页面
     **/
    function addMemoire() {
        // 进入
        $("#addMemoire").click(function () {
            $("edit-page").css("display", "block").animate({
                "left": "0%"
            },300);
        });
        // 返回
        $("#backMainPage").click(function () {
            let $editPage = $("edit-page");
            $editPage.animate({
                "left": "100%"
            },300, function () {
                $editPage.css("display", "none");
                $("#memoireContent").val("");
            });
        });
    }

    /**
     * 功能： 编辑删除、取消删除列表事件
     **/
    function editCtrl() {
        // 编辑删除列表
        $("#editList").click(function () {
            $(this).css("display", "none");
            $("#cancelEdit").css("display", "block");
            $("#addMemoire").css("display", "none");
            $("#deleteCkdItem").css("display", "block");
            let enable = $(this).prop("disabled") == false;
            if(enable) {
                let memoireList = $("#memoireList li");
                memoireList.children("div").animate({
                    "width": "48px"
                }, 200);
                memoireList.children("p").animate({
                    "marginLeft": "36px"
                }, 200);
                memoireList.addClass("disabled");
            }
            // header文本改变
            $("header h1").text(`已选中0项`);
        });

        // 取消删除编辑
        $("#cancelEdit").click(function () {
            $(this).css("display", "none");
            $("#editList").css("display", "block");
            $("#addMemoire").css("display", "block");
            $("#deleteCkdItem").css("display", "none");
            let memoireList = $("#memoireList li");
            memoireList.children("div").animate({
                "width": "0px"
            }, 200);
            memoireList.children("p").animate({
                "marginLeft": "0px"
            }, 200);
            // header文本改变
            $("header h1").text(`备忘录`);
            // 撤销已被选中的列表项标记
            $("#memoireList i.ckd").removeClass("ckd");
            // 移除禁用点击的class
            memoireList.removeClass("disabled");
        });
    }

    /**
     * 功能： 删除选中列表项事件
     **/
    function removeMarkListItem() {

        // 被标记的选中项
        $("#deleteCkdItem").click(function () {
            let markCkdItem = $("i.ckd").closest("li");
            // 获取数据
            let localData = localStorage.getItem("memoireData"),
                localDate = JSON.parse(localData),
                localDate_leng = localDate.length;
            console.log(localDate);
            // 创建一个新变量接收修改后的本地数据对象
            var modifLocalData;
            // 创建一个while循环计数器
            var count = 0;
            for(let i = 0; i < localDate_leng; i++) {
                // 获取被标准删除元素的个数
                if(localDate[i].deleteStatus) {
                    count++;
                }
            }
            // 根据需要删除数据的数量进行嵌套循环删除
            while(count) {
                localDate_leng = localDate.length;
                for(let i = 0; i < localDate_leng; i++) {
                    if(localDate[i].deleteStatus) {
                        alert(localDate[i].noteID);
                        deleteNote(localDate[i].noteID);
                        localDate.splice(i,1);
                        count--;
                        break;
                    }
                }
            }
            modifLocalData = localDate;
            modifLocalData = JSON.stringify(modifLocalData);
            // 重设本地数据
            localStorage.setItem("memoireData", modifLocalData);
            // 视觉上移除
            markCkdItem.remove();
            // 恢复列表状态
            $("#cancelEdit").trigger("click");
            // 判断是否还存在数据设置编辑按钮的状态及页脚备忘录数
            setEditBtnStatus();
        });
    }

    /**
     * 功能： 单个列表项删除标记事件
     **/
    function markListItem() {
        $("#memoireList").on("click", "li > div", function (e) {
            let $ckb = $(this).children("i");
            let isCkd = $ckb.hasClass("ckd");
            // 获取当前列表索引值
            var idx = $(this).parent().index();
            // 获取数据
            let localData = localStorage.getItem("memoireData"),
                localDate = JSON.parse(localData);
            // 创建一个新变量接收修改后的本地数据对象
            var modifLocalData;
            if(isCkd) {
                $ckb.removeClass("ckd");
                localDate[idx].deleteStatus = false;
                // 让对象的内存指针绑定给一个新变量
                modifLocalData = localDate;
            } else {
                $ckb.addClass("ckd");
                localDate[idx].deleteStatus = true;
                modifLocalData = localDate;
                console.log(localDate[idx].noteID)

            }
            // 转换为JSON字符串存储
            modifLocalData = JSON.stringify(modifLocalData);
            localStorage.setItem("memoireData", modifLocalData);
            // 判断当前选中几项
            let ckdItem_leng = $("#memoireList i.ckd").length;
            // header文本改变
            $("header h1").text(`已选中${ckdItem_leng}项`);
        })
    }

    /**
     * 功能： 根据是否输入内容设置保存按钮的状态
     **/
    function setSaveBtnStatus() {
        // 保存按钮
        let $saveBtn = $("#saveMemoire");
        $("#memoireContent").keyup(function () {
            // 获取输入值的情况
            const thisText = $(this).val();
            // 内容不为空并且从开始到结束不全为空格
            let hasText = thisText !== "";
            let notSpace = !(/^\s+$/.test(thisText));
            if(hasText && notSpace) {
                $saveBtn.prop("disabled", false);
            } else {
                $saveBtn.prop("disabled", true);
            }
        });
    }




    /**
     * 功能： 点击保存按钮将输入的内容保存到本地存储和生成视觉元素
     **/
    function saveMemoireData() {
        $("#saveMemoire").click(function () {
            // 获取文本域内容
            var content =  $("#memoireContent").val();
            // 如果内容为空，或者只包含空格则中止本次操作
            if(content == "" || /^\s+$/.test(content)) {
                return;
            }

            // 声明存储数据的对象
            var saveDataObj;
            // 判断存储对象是否存在
            let hasMemoire = localStorage.getItem("memoireData") !== null;
            // 对象存在
            if(hasMemoire) {
                setMemoireData();
                //　获取本地存在的对象
                let localDate = localStorage.getItem("memoireData");
                localDate = JSON.parse(localDate);
                // 编辑状态
                if(GLOBAL.editing) {
                    saveDataObj.noteID=localDate[GLOBAL.itemIndex].noteID;
                    localDate.splice(GLOBAL.itemIndex, 1, saveDataObj);//切分并编辑当前编号的笔记对象
                    var $dataItem = $("#memoireList li").eq(GLOBAL.itemIndex);
                    $dataItem.children("p:first").text(localDate[GLOBAL.itemIndex].content+"   编辑于:"+ getNowTime());
                    updateTODataBase(localDate[GLOBAL.itemIndex].content,getNowTime(),localDate[GLOBAL.itemIndex].noteID);
                    // 数据转换为JSON字符串存储
                    localDate = JSON.stringify(localDate);
                    localStorage.setItem("memoireData", localDate);
                    // 清空当前文本域的值
                    $("#memoireContent").val("");
                    // 返回主页
                    $("#backMainPage").trigger("click");
                    // 禁用保存按钮
                    $("#saveMemoire").prop("disabled", true);
                    // 恢复编辑状态为否
                    GLOBAL.editing = false;
                    // 索引值还原
                    GLOBAL.itemIndex = NaN;

                }
                // 非编辑状态（新增）
                else {
                    // 为本地存储添加数据
                    localDate.push(saveDataObj);
                    localDate = JSON.stringify(localDate);
                    console.log(saveDataObj.content+"=="+saveDataObj.saveDate);
                    sendTODataBase(saveDataObj.content,saveDataObj.saveDate);
                    localStorage.setItem("memoireData", localDate);
                    locationDataCtrl();
                }
            }
            // 对象不存在
            else {
                setMemoireData();
                saveDataObj = JSON.stringify(saveDataObj);
                localStorage.setItem("memoireData", "[" + saveDataObj + "]");
                locationDataCtrl();
            }

            // 设置存储数据
            function setMemoireData() {
                // 获取输入的内容
                let MemoireTxt = $("#memoireContent").val();
                let nowDate=getNowTime();
                // 设置需要存储的对象
                saveDataObj = {
                    "content": MemoireTxt,
                    "saveDate": nowDate,
                    "noteID":NaN,
                    "deleteStatus": false
                }
            }
        });
    }

    /**
     * 功能： 页面载入时根据本地存储的内容重新生成列表
     **/
    function  readTheStorage(){
        // 读取本地存储的数据
        let localData = localStorage.getItem("memoireData");
        localData = JSON.parse(localData);
        // 获取数组长度
        let localData_leng = localData.length;
        // 内容列表
        let $memoireList = $("#memoireList");
        // 列表容器内生成新数据 <p>${objElement.saveDate}</p>
        $.each(localData, function (index, objElement) {
            $memoireList.append(`
				<li>
					<div>
						<i>√</i>
					</div>
					<p>${objElement.content}&nbsp&nbsp&nbsp编辑于：${objElement.saveDate}</p>
				</li>
			`);
        });
        // 判断是否还存在数据设置编辑按钮的状态及页脚备忘录数
        setEditBtnStatus();
    }

    /**
     * 功能： 页面载入时判断是否需要从云端获取数据
     **/
    function loadMemoireList() {
        // 如果本地数据不存在
        let hasLocalData = localStorage.getItem("memoireData") == null;
        if(hasLocalData) {
            //获取本地存储，并将其化成一个表
            localStorage.setItem("memoireData", "[]");
            let memoireData = localStorage.getItem("memoireData");
            memoireData = JSON.parse(memoireData);

            $.ajax({
                url: "/getNotes", // 后台处理请求的地址
                method: "POST", // 使用 POST 方法
                data: {}
            }).done(
                function (msg) {
                    console.log("返回数据为: " + JSON.stringify(msg));
                    let baseData = JSON.stringify(msg);
                    baseData = JSON.parse(baseData);
                    console.log(baseData)
                     var   saveDataObj;
                    $.each(baseData, function (index, objElement) {
                        console.log(objElement)
                        saveDataObj = {
                            "content": objElement.content,
                            "saveDate":objElement.savedate,
                            "noteID":objElement.noteID,
                            "deleteStatus": false
                        }
                        saveDataObj = JSON.stringify(saveDataObj);
                        console.log(saveDataObj+"将要存入")
                        memoireData.push(saveDataObj);
                    })
                    localStorage.setItem("memoireData", "["+memoireData+"]");
                    readTheStorage();
                }).fail(function (xhr, textStatus, errorThrown) {
                console.log("Error: " + errorThrown);
            });
        }else{
            readTheStorage();
        }

    }

    /**
     * 功能： 根据页面是否有数据决定是否启用编辑删除按钮及设置页脚
     **/
    function setEditBtnStatus() {
        // 获取列表数量
        var list_leng = $("#memoireList")[0].childElementCount;
        // 编辑按钮
        var $editBtn = $("#editList");
        if(list_leng === 0) {
            $editBtn.prop("disabled", true);
            // 设置页脚
            $("footer h2").text(`无备忘录`);
        } else {
            $editBtn.prop("disabled", false);
            // 设置页脚
            $("footer h2").text(`${list_leng}个备忘录`);
        }
    }

    /**
     * 功能： 点击列表进入编辑页
     **/
    function toMemoireEditPage() {
        $("#memoireList").on("click", "li", function (e) {
            let targetEle = $(e.target);
            // 如果点击目标是删除标记按钮则什么都不做
            if(targetEle.is("i") || targetEle.is("div")) {
                return;
            }
            // 如果当前列表含有禁用class也什么都不做
            else if($(this).hasClass("disabled")) {
                return;
            }
            // 否则进入编辑页面
            else {
                // 获取索引值
                let idx = $(this).index();
                // 读取本地存储的数据
                let localData = localStorage.getItem("memoireData");
                localData = JSON.parse(localData);
                // 为编辑页设置对应的内容
                $("#memoireContent").val(localData[idx].content).prop("readonly", true);
                $("#addMemoire").trigger("click");
                // 改变当前的操作状态为“编辑状态”
                GLOBAL.editing = true;
                // 设置当前需编辑项的全局索引
                GLOBAL.itemIndex = idx;
            }
        });
    }

    /**
     * 功能： 激活文本编辑域
     **/
    function activeEditor() {
        $("#enableEdit").click(function () {
            // 获取文本域内容
            var content =  $("#memoireContent").val();
            // 如果内容为空，或者只包含空格则中止本次操作
            if(content == "" || /^\s+$/.test(content)) {
                return;
            }
            $("#memoireContent").prop("readonly", false).focus();
            $("#saveMemoire").prop("disabled", false);
        });
    }

    /**
     * 功能： 本地数据的读写操作
     **/
    function locationDataCtrl() {
        // 留一点时间给数据做I/O
        setTimeout(function () {
            // 读取本地存储的数据
            let localData = localStorage.getItem("memoireData");
            localData = JSON.parse(localData);
            // 获取数组长度
            let localData_leng = localData.length;
            // 列表容器内生成新数据
            // <p>${localData[localData_leng - 1].saveDate}</p>
            $("#memoireList").append(`
						<li>
							<div>
								<i>√</i>
							</div>
							<p>${localData[localData_leng - 1].content}&nbsp&nbsp&nbsp编辑于：${localData[localData_leng - 1].saveDate}</p>
						</li>
					`);
            // 清空当前文本域的值
            $("#memoireContent").val("");
            // 返回主页
            $("#backMainPage").trigger("click");
            // 禁用保存按钮
            $("#saveMemoire").prop("disabled", true);
            // 根据页面是否有数据决定是否启用编辑删除按钮
            setEditBtnStatus();
        },100);
    }

</script>
<!--备忘录代码结束-->

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.3.0/dist/echarts.min.js"></script>
<script type="text/javascript">
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    myChart.setOption({
        title: {
            text: '菜品销量排行'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            type: 'category',
            data: [],
            axisTick:{                      //坐标轴刻度相关配置
                alignWithLabel:true         //刻度线与标签对齐
            }
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                data: [],
                type: 'bar'
            }
        ]
    });


    var names=[];    //类别数组（实际用来盛放X轴坐标值）
    var nums=[];    //销量数组（实际用来盛放Y坐标值）
    $.ajax({
        type : "post",
        async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "toDishBill",    //请求发送到控制器处
        data : {},
        dataType : "json",        //返回数据形式为json
        success : function(result) {

            //请求成功时执行该函数内容，result即为服务器返回的json对象
            if (result) {
                var json=JSON.stringify(result)
                json=json.substring(2)
                json=json.substring(0,json.length-1)
                var arr=json.split(":")
                arr[0]=arr[0].substring(1,arr[0].length-1).split(",")
                arr[0][arr[0].length-1]=arr[0][arr[0].length-1].substring(0,arr[0][arr[0].length-1].length-1)
                arr[1]=arr[1].substring(1,arr[1].length-1).split(",")
                //arr[1][arr[1].length-1]=arr[1][arr[1].length-1].substring(0,arr[1][arr[1].length-1].length-1)
                console.log(arr[0])
                console.log(arr[1])
                names=arr[0]
                nums=arr[1]
                console.log(names)
                myChart.hideLoading();    //隐藏加载动画
                myChart.setOption({        //加载数据图表
                    xAxis: {
                        data: names
                    },
                    series: [{
                        // 根据名字对应到相应的系列
                        name: '销量',
                        data: nums
                    }]
                });

            }

        },
        error : function(errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart.hideLoading();
        }
    })
</script>
</html>