*{
    margin:0;
    padding:0;}
.body{
    margin-top: 150px;
    margin-left:auto;
    margin-right:auto;
    width:400px;
}
h2{
    text-align:center;}
.body td{
    height:40px;}
.body input{
    width:100%;
    height:40px;
}
.forget{
    text-decoration: none;
    display:block;
    margin-left: 400px;
    margin-bottom:8px;
    width: 80px;
    height: 20px;
    background-color:#009688;
    color: white;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
}
.forget:hover{
    text-decoration: none;
    display:block;
    margin-left: 400px;
    margin-bottom:8px;
    width: 80px;
    height: 20px;
    background-color:#5FB878;
    color: white;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
}
.submit{
    background-color:#009688;
}
.submit:hover{
    background-color:#5FB878;
}